name: CD Pipeline (Self-Hosted)

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, Windows]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull latest Docker image
        run: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/devops-app:latest

      - name: Stop existing container
        run: |
          docker stop myapp || echo "No running container"

      - name: Remove existing container
        run: |
          docker rm myapp || echo "Nooo container to remove"

      - name: Run new container
        run: |
          docker run -d -p 3000:3000 --name myapp ${{ secrets.DOCKER_USERNAME }}/devops-app:latest

      - name: Show running containers
        run: docker ps
